<h1> Liste of songes </h1>
<%= link_to "add a new song", new_song_path %>
<ol>
<% @songs.each do |song| %>
    <li> 
        <%= link_to song.name, song %> - <%= link_to song.album.name, song.album %>
    </li>
<% end %>