<h1> liste of albumes </h1>
<%= link_to "Add an Album", new_album_path %>
<br><br>
<ol>
<% @albums.each do |album| %>
   <li> 
    <%= link_to album.name, album %> - <%=link_to album.artist.name, album.artist %>
   </li>
    <% end %>
    </ol>